# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
#_libgcc_mutex=0.1=main
#_openmp_mutex=4.5=1_gnu
blas=1.0=mkl
ca-certificates
expat
freetype
icu
intel-openmp
kaleido-core
libiconv
libxml2
mathjax
mkl
mkl-service
mkl_fft
mkl_random
numpy
numpy-base
pip
plotly
python
python-kaleido
python_abi
readline
retrying
setuptools
six
sqlite
tenacity
tk
tzdata
wheel
xz
zlib
